<%= form_for(@admin_customer) do |f| %>
  <% if @admin_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_customer.errors.count, "error") %> prohibited this admin_customer from being saved:</h2>

      <ul>
      <% @admin_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mdn %><br>
    <%= f.text_field :mdn %>
  </div>
  <div class="field">
    <%= f.label :emsi %><br>
    <%= f.text_field :emsi %>
  </div>
  <div class="field">
    <%= f.label :imei %><br>
    <%= f.text_field :imei %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
